bf
bf_amd64_darwin
bf_arm64.c
bf_amd64.c
dynasm/
luajit/

# Object files
*.o

# Debug symbols
*.dSYM/

# Sanitizer builds
*_asan

# Profiler output files
*.txt
*.svg

# Generated parser/lexer files
bf_lexer.c
bf_lexer.h
bf_parser.c
bf_parser.h

# Bazel
bazel-*
.bazelrc.local
